<section id="resume">
  <div class="row education">
    <div class="col-sm-12 header-col">
      <h2 id="formation">Formation</h2>
    </div>
    <div class="main-col">
      <div class="row item">
        <div class="col-sm-12">
          <h3>Wild Code School Nantes</h3>
          <p class="info">Developpeur Web et Mobile • <em class="date">Février 2019 - Juillet 2019 </em></p>
          <p>D'une durée de 5 mois, j'apprends le développement web avec JavaScript et la librairie React.</p>
        </div>
      </div>
      <div class="row item">
        <div class="col-sm-12">
          <h3>Open Classrooms/Solo Learn</h3>
          <p class="info">Formation autodidacte • <em class="date">Septembre 2018 - Aujourd'hui</em></p>
          <p>Formation autodidacte avec certification notamment en UX/UI Design, gestion de projet (agile, cascade),
            Design thinking, Algorithmies, Wordpress, Adobe XD, HTML5/CSS3.</p>
        </div>
      </div>
      <div class="row item">
        <div class="col-sm-12">
          <h3>IMIE Nantes</h3>
          <p class="info">Formation intensive(POEC) Java/J2EE  • <em class="date">Octobre 2018 - Janvier
              2019</em></p>
          <p>Formation intensive de 400 heures avec initiation au développement notamment avec Java et J2EE, j'ai aussi
            utilisé Angular 7
            pour le projet de fin de formation (application ERP).</p>
        </div>
      </div>
      <div class="row item">
        <div class="col-sm-12">
          <h3>ESRA/ISTS Bretagne</h3>
          <p class="info">Institut Supérieur des Techniques du Son • <em class="date">Septembre 2011 -
              Décembre 2014</em></p>
          <p>Formation en tant que Chef Opérateur Son option Audiovisuel (Niveau II RNCP), prise de son, montage, mixage
            pour le son à l'image.</p>
        </div>
      </div>
      <div class="row item">
        <div class="col-sm-12">
          <h3>Lycée Saint-Donatien</h3>
          <p class="info">BEP Comptabilité et Baccalauréat Professionnel Commerce • <em
              class="date">Septembre 2005 - Juin 2009</em></p>
          <p>Formation en 4 ans, en comptabilité d'entreprise et en commerce.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Work
    ----------------------------------------------- -->
  <div class="row work">
    <div class="three columns header-col">
      <h2 id="experiences">Expériences</h2>
    </div>
    <div class="nine columns main-col">
      <div class="row item">
        <div class="col-sm-12">
          <h3>Boulangerie Charrier</h3>
          <p class="info">Vendeur en boulangerie • <em class="date">Avril 2018 - Août 2018</em></p>
          <p>Vendeur en boulangerie, mise en rayon, ouverture et fermerture.</p>
        </div>
      </div>
      <div class="row item">
        <div class="col-sm-12">
          <h3>Pizzedelic Montréal <img src="https://baptistelagisquet.fr/images/Canada%20Flag.jpg" alt="canadian flag" /></h3>            
          <p class="info">Plongeur en restauration  • <em class="date">Juin 2017 - Octobre 2017</em></p>
          <p>Plongeur dans un restaurant de Montréal, Canada.</p>
        </div>
      </div> 
      <div class="row item">
        <div class="col-sm-12">
          <h3>Coq of the Walk Toronto <img src="https://baptistelagisquet.fr/images/Canada%20Flag.jpg" alt="canadian flag" /></h3>
          <p class="info">Cuisinier  • <em class="date">Septembre 2016 - Février 2017</em></p>
          <p>Cuisinier dans un restaurant Français pour l'ouverture du restaurant.</p>
        </div>
      </div> 
      <div class="row item">
        <div class="col-sm-12">
          <h3>Capitol Toronto <img src="https://baptistelagisquet.fr/images/Canada%20Flag.jpg" alt="canadian flag"></h3>
          <p class="info">Plongeur en restauration  • <em class="date">Juin 2016 - Septembre 2016</em></p>
          <p>
            Plongeur en restauration dans un restaurant Italien à Toronto, Canada.
          </p>
        </div>
      </div>
      <div class="row item">
        <div class="col-sm-12">
          <h3>Planet Sushi Nantes Commerce</h3>
          <p class="info">Livreur puis Serveur  • <em class="date">Septembre 2015 - Février 2016</em></p>
          <p>
            Livreur de Septembre à Octobre, j'ai ensuite été promu Serveur jusqu'à la fin de mon contrat.
          </p>
        </div>
      </div>
      <div class="row item">
        <div class="col-sm-12">
          <h3>APPI</h3>
          <p class="info">Préparateur de commandes  • <em class="date">Mars 2015 - Juillet 2015</em></p>
          <p>
            Préparateur de commandes, réception et envoi de marchandises, quelques tâches de commercial dans une
            entreprise de lutte biologique.
          </p>
        </div>
      </div>
      <div class="row item">
        <div class="col-sm-12">
          <h3>O'Bahamas</h3>
          <p class="info">Stagiaire assistant son • <em class="date">Octobre 2014 - Février 2015</em></p>
          <p>
            Stagiaire dans le studio de doublage O'Bahamas à Levallois-Perret, France. J'ai pu participer à la prise de
            son, montage et mixage de projets tels que "Arrow", "Tu mourras moins bête", "Top Gear"...
          </p>
        </div>
      </div>
      <div class="row item">
        <div class="col-sm-12">
          <h3>Festival Court Métrange</h3>
          <p class="info">Stagiaire en technique du son • <em class="date">Août 2014 - Septembre 2014</em>
          </p>
          <p>
            Stagiaire pour le festival de court métrage, "Court Métrange" de Rennes, réalisation du son pour le teaser
            du festival.
          </p>
        </div>
      </div>
      <div class="row item">
        <div class="col-sm-12">
          <h3>Unis-Cité Nantes</h3>
          <p class="info">Volontaire en service civique • <em class="date">Octobre 2010 - Juin 2011</em></p>
          <p>
            Volontaire en service civique, j'ai pu réaliser en équipe trois projets, un projet d'écriture de recueil de
            paroles de personnes âgées (en maison de retraite), ouverture à la culture pour des enfants et un projet
            dans l'écologie dans le quartier de Bellevue à Saint-Herblain.
          </p>
        </div>
      </div> 
    </div> 
  </div>
</section>