nav {
  padding-top:  2rem;
  height: 5rem;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.nav-item {
  margin-left: 5rem;
}

.img-style {
  width: 5rem;
  height: 5rem;
}

.custom-color {
  background-color: #141219 !important;
}

.date-style {
  color: whitesmoke;
  margin-left: 35rem;
  margin-top: 0.5rem;
}