.beer-style {
  max-width: 2rem;
  max-height: 8rem;
  margin: auto;
}

ul li{
  list-style: none;
  text-align: center;
  padding: 2px ; 
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

#button {
  margin: 2rem auto 3rem 46%;
}  

.title-beer {
  text-align: center;
  margin-top: 4rem;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  height: 20rem;
}