<div class="row skill ">
  <div class="three columns header-col">
    <h2>Technologies</h2>
  </div>
  <div class="nine columns main-col">
    <img src="https://baptistelagisquet.fr/images/css3-html5-logo.png" alt="html">
    <img src="https://baptistelagisquet.fr/images/css3-57b597e85f9b58b5c2b338de.png" alt="css">
    <img src="https://baptistelagisquet.fr/images/javascript-js-logo-2949701702-seeklogo.com.png" alt="javascript">
    <img src="https://baptistelagisquet.fr/images/react.png" alt="react">
    <img src="https://baptistelagisquet.fr/images/Angular_full_color_logo.svg.png" alt="angular">
    <img src="https://baptistelagisquet.fr/images/Bootstrap.png" alt="bootstrap">
    <img src="https://baptistelagisquet.fr/images/GN559Lfb_400x400.png" alt="materialize">
    <img src="https://baptistelagisquet.fr/images/java.jpg" alt="java">
    <img src="https://baptistelagisquet.fr/images/1200px-WordPress_blue_logo.svg.png" alt="wordpress">
    <img src="https://baptistelagisquet.fr/images/node.png" alt="node js">
    <img src="https://baptistelagisquet.fr/images/TravisCI-Mascot-1.png" alt="travis cl">
    <img src="https://baptistelagisquet.fr/images/linux1600.png" alt="linux">
    <img src="https://baptistelagisquet.fr/images/git-logo.jpg" alt="git">
    <img src="https://baptistelagisquet.fr/images/gitkraken-social-icon.jpg" alt="git kraken">
    <img src="https://baptistelagisquet.fr/images/6eqoPNuy.jpg" alt="intelli J">
    <img src="https://baptistelagisquet.fr/images/1200px-Visual_Studio_Code_1.18_icon.svg.png" alt="visual studio code">
    <img src="https://baptistelagisquet.fr/images/adobe-xd.png" alt="adobe xd">
    <img src="https://baptistelagisquet.fr/images/logo-pro_tools.png">
    <img src="https://baptistelagisquet.fr/images/avid_media_composer%20pic%201-665x.png" alt="avid media composer">
    <img src="https://baptistelagisquet.fr/images/logic.png" alt="logic pro">
  </div>
</div>