<div class="back-img">
  <div class="container">
    <div>
      <h1>Baptiste Lagisquet</h1>
      <h2>Développeur Web et Mobile</h2>
      <h3>Actuellement en formation à la Wild Code School Nantes en tant que développeur web et mobile pour une durée de
        5
        mois jusqu'au 25 juillet 2019. Vous trouverez l'ensemble de mes projets réalisés majoritairement en JavaScript
        et
        en Réact. </h3>
      <ul class="social">
        <li><a href="https://twitter.com/LagisquetB"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/baptiste-lagisquet-bb2a8937/"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://github.com/blagisquet"><i class="fab fa-github"></i></a></li>
      </ul>
    </div>
    <div>
      <h3 class="propos-h3">A propos de moi</h3>
      <div class="a-propos">
        <img src="https://baptistelagisquet.fr/images/profilepic.jpg" class="col-sm-3 profile-style" />
        <p class="propos col-sm-9"> Actuellement en formation de 5 mois à la Wild Code School de Nantes, je me forme au
          JavaScript
          et à la librairie
          React.
          J'apprends aussi en autodidacte les bases de l'UX/UI Design ainsi que la gestion de projet (cascade, agile).
          Passionné de son et particulièrement de musique, je cherche à apprendre à conjuguer le tout pour des projets
          personnel.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="propos-h3">
        <h3>Contact</h3>
        <p class="address">
          <span>Baptiste Lagisquet</span><br>
          <span>116 Boulevard des Belges<br>
            44300 Nantes
          </span><br>
          <span>+33 6 58 40 00 08</span><br>
          <span>b.lagisquet@gmail.com</span>
        </p>
      </div>
    </div>
  </div>
</div>